# Backup files
*.txt~
*.py~

# Byte-compiled / optimized / DLL files
*.pyc

# IDEs and editors
.vscode
.spyderproject

# Git backup files
.gitignore~

# Build and distribution
build
csv_detective.egg-info
dist

# MacOS system files
.DS_Store

# Python environments
venv
.venv

# Python package managers
.python-version
pdm.lock

# Code quality tools
.ruff_cache/

# Project specific files
analyse_csv.py
data_gouv_api_download.py
reformat_tab.py

# Test results
test_results/
