[bumpr]
file = pyproject.toml
regex = version\s*=\s*"(?P<version>.+?)"
vcs = git
commit = true
tag = true
tag_format = v{version}
push = true
clean = rm -rf dist/*
tests = pytest tests
publish = python -m build --wheel

[bump]
unsuffix = true

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.md
bump = ## {version} ({date:%Y-%m-%d})
prepare = ## Current (in progress)
separator =
